html,body {
  height: 100%;
  margin: 0px;
  background: #333;
}

.wrapper {
  flex: 1;
  display: flex;
}

#app {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.treemap-area{
  flex: 2;
  display: flex;
  flex-direction: column;
}

.treemap-area-right{
  flex: 3;
  display: flex;
  flex-direction: column;
}

.rightpane {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.text-area {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.text-area-left {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.burn-down {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.burn-down-large {
  flex: 2;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 700px) {
  #app {
    flex-direction: column;
  }

  .leftpane {
    flex: 4;
  }

  .rightpane {
    flex: 1;
  }
}
